<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> sportsmatch </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  </head>
    <body>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('player.signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('player.login_creds') }}">Login</a></li>
          </ul>
        </nav></strong>

        {% block content %}
        {% endblock %}

    </body>
</html>